
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            
            background-color: #f7f7f7;
        }
        h1 {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
        }
        .form {
            text-align: center;
            margin: 20px auto;
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            background-color: #555;
        }
        img {
            max-width: 100%;
            height: auto;
            border: 2px solid #333;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            margin-left:45%;
        }
        